* {
  margin: 0;
}

div {
  box-sizing: border-box;
  color: brown;
  font-size: 50px;
  margin: 50px;
}

button {
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  background-color: brown;
  padding: 10px 20px;
  border-radius: 10px;
}
